<div id="container-sign-in" class="container">
  <div id="content-alert-sign-in">

  </div>

  <!-- JAVASCRIPT, CSS -->

  <div class="container-title">
    <h1 class="display-4">Nuevo usuario</h1>
    <hr class="my-4">
  </div>

  <form name="sign-in-nav" onsubmit="return saveUser()" method="post" autocomplete="off">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="Email-sign-in">Email</label>
        <input type="email" name="email" class="form-control" id="Email-sign-in" placeholder="ej: jose@ejemplo.com" required >
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputName">Usuario</label>
        <input type="text" name="name" class="form-control" id="inputName" placeholder="ej: jose" required>

      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="password-sign-in">Password</label>
        <input type="password" name="password" class="form-control " id="password-sign-in" placeholder="Password" >
        <div class="invalid-feedback">
          La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula.
          NO puede tener otros símbolos.
          Ejemplo:
          w3Unpocodet0d0
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="confirmPassword-sign-in">Confirmar </label>
        <input type="password" name="confirm-password" class="form-control " id="confirmPassword-sign-in" placeholder="Confirme la password" >
        <div class="invalid-feedback">
          La password debe de coincidir
        </div>
      </div>
    </div>


    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="condition_ckeck" required>
      <label class="form-check-label" for="condition_ckeck">He leído los <a href="#">Términos y condiciones</a> del uso de mis datos</label>
    </div>


    <button type="submit" class="btn btn-primary">Registrarme</button>
  </form>


</div>