
<div class="container margin-top">
  <h3><%= @articules.title %></h3>
  <div>
    <img style="max-width: 40rem;" src="<%= @articules.thumdnail %>" alt="<%= @articules.title %>">
    <%= @articules.body %>
  </div>
</div>